.tabRes {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  padding: 1rem;
  background: var(--card-bg);
  border: 2px solid var(--card-border);
  border-radius: 0.8rem;
  backdrop-filter: blur(8px);
  box-shadow: 0 20px 40px rgba(120, 2, 98, 0.325);
}

.tabRes img {
  width: 50px;
  height: 50px;
  padding: 6px;
  border-radius: 10px;
  background: rgba(169, 0, 152, 0.648);
  border: 1px solid rgba(242, 215, 232, 0.429);
}

.multiplier {
  text-align: center;
  font-weight: bold;
  color: rgb(21, 1, 28);
}
