@if (pokemon(); as pokemon) {
    <div class="mainBox">

        <!-- ========================= -->
        <!--   COLONNE CENTRALE       -->
        <!-- ========================= -->
        <div class="mainDiv">
            <h2>{{ pokemon.name.fr }}</h2>
            <h3>numéro pokedex : {{ pokemon.pokedex_id }}</h3>
            <h3>Génération : {{ pokemon.generation }}</h3>

            <app-pokemon-type-information [types]="pokemon.types"></app-pokemon-type-information>

            <app-pokemon-talent-information [talents]="pokemon.talents"></app-pokemon-talent-information>

            <div class="forme">
                <p>Forme normal</p>
                <img [src]="pokemon.sprites.regular" />
                <p>Forme shiny</p>
                <img [src]="pokemon.sprites.shiny"/>

                <!-- ========================= -->
                <!--   BOUTON EVOLUTIONS       -->
                <!-- ========================= -->
                <ng-container *ngIf="pokemon.evolution && (pokemon.evolution.pre || pokemon.evolution.next); else emptyLeft">
                    <div class="EvoButton">
                        <button class="button" (click)="toogleEvolutions()">
                            {{ showEvolutions ? 'Masquer évolutions' : 'Afficher évolutions' }}
                        </button>

                        <div class="divEvolution" *ngIf="showEvolutions">

                            <!-- ========================= -->
                            <!--   PRÉ‑ÉVOLUTIONS          -->
                            <!-- ========================= -->
                            <div *ngIf="pokemon.evolution.pre">
                                <div *ngFor="let pre of previousPokemon; let i = index">
                                    <h3>{{ pre.name.fr }}</h3>
                                    <img [src]="pre.sprites.regular"/>

                                    <h4>
                                        Condition d'évolution :
                                        {{ pokemon.evolution.pre[i]?.condition }}
                                    </h4>

                                    <h4>
                                        en {{ pokemon.name.fr }}
                                    </h4>
                                </div>
                            </div>

                            <!-- ========================= -->
                            <!--   ÉVOLUTIONS SUIVANTES    -->
                            <!-- ========================= -->
                            <div *ngIf="pokemon.evolution.next">
                                <div *ngFor="let next of nextPokemon; let i = index">
                                    <h3>{{ next.name.fr }}</h3>
                                    <img [src]="next.sprites.regular"/>

                                    <h4>
                                        Condition d'évolution :
                                        {{ pokemon.evolution.next[i]?.condition }}
                                    </h4>

                                    <h4>
                                        en {{ next.name.fr }}
                                    </h4>
                                </div>
                            </div>

                        </div>
                    </div>
                </ng-container>

                <ng-template #emptyLeft>
                    <div class="EvoButton empty"></div>
                </ng-template>

                <!-- ========================= -->
                <!--   BOUTON G-MAX            -->
                <!-- ========================= -->
                <ng-container *ngIf="pokemon.sprites.gmax?.regular; else emptyLeft">
                    <div class="EvoButton">
                        <button class="button" (click)="toogleGmax()">
                            {{ showGmax ? 'Masquer Gmax' : 'Afficher Gmax' }}
                        </button>

                        <div class="divGmax" *ngIf="showGmax">
                            <p>Forme G-Max</p>
                            <img [src]="pokemon.sprites.gmax?.regular"/>

                            <p>Forme G-Max shiny</p>
                            <img [src]="pokemon.sprites.gmax?.shiny"/>
                        </div>
                    </div>
                </ng-container>

            </div>

            <div class="Stat">
                <p>Statistiques</p>
                <app-pokemon-statistiques [statistics]="pokemon.stats"></app-pokemon-statistiques>

                <p>Resistances</p>
                <app-pokemon-resistances [resistances]="pokemon.resistances"></app-pokemon-resistances>
            </div>
        </div>

    </div>
}
