h2 {
    color : purple;
    font-size: 10;
}

.Stat {
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.mainDiv {
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    border: 1px solid rgb(147, 51, 234);
    border-radius: 0.5rem;
    margin-top: 1rem;

}